__pycache__/
*/__pycache__/
.DS_Store
venv/

# large data
output/
archive/
data/augmentation/
data/aug*/
result/
result_sota/
submission/
# excluded data
data/model/ 
data/ori_*/

# others
test.ipynb
test*.png